{% extends 'bookmanagement/base.html' %}
{% block body %}
    <div class="container">
    <div class="main-body">

          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'book' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ object.book_name }} Details</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ book.image.url }}" alt="Admin" class="" width="200">
                    <div class="mt-3">
                      <h4>{{ book.book_name }}</h4>
                      <p class="text-secondary mb-1">{{ book.author }}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Book Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ book.book_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Author Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ book.author }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Book Edition</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ book.edition }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Available Stock</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ book.in_stock }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Book Price</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Rs {{ book.unitprice }} /-
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
{#                      <a class="btn btn-info " href="{% url 'BookUpdate' object.id %}">Edit</a>#}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="text-center">
                <h1 class="aligned-center">Ordering Form</h1>
        </div>

         <div class="form-group">
             <form method="post">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <button class="btn btn-success" type="submit">submit</button>
                 <button class="btn btn-danger" type="reset">reset</button>
             </form>
         </div>

    </div>
{#    as-----#}



{% endblock %}