{% extends 'bookmanagement/base.html' %}
{% block body %}
     <div class="container">
     <div>
            <div class="d-flex justify-content-between">
                  <div>
                <form class="d-flex justify-content-between" method="GET" action="{% url 'searchedrequest' %}">
                    <input class="form-control mr-5" name="searched" type="search" placeholder="Search"
                           aria-label="Search">&nbsp;
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                </form>
                </div>
                <div>
                    <form  class="d-flex justify-content-between"  method="GET" action="{% url 'searchedrequest' %}">
                    {% csrf_token %}
                <select class="form-select mr-5" name="status">
                <option selected>Delivered_status</option>
                <option value="requested">Requested</option>
                <option value="delivered">Delivered</option>
                <option value="cancel">Cancel</option>
                </select>
                  <button type="submit" class="btn btn-success btn-sm" value="search">search</button>
                    </form>
                </div>
            </div>

     <table class="table table-hover text-start fadeInDown">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">username</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Order Quantity</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Delivered_status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for request in object_list %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ request.username }}</td>
                        <td>{{ request.address }}</td>
                        <td>{{ request.contact }}</td>
                        <td>{{ request.book_quantity }}</td>
                        <td>{{ request.book.book_name }}</td>
                        <td>{{ request.delivered_status }}</td>
                        <td><a class="btn btn-warning" href="{% url 'bookrequestedit' request.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}