{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block body %}

<div class="container">
<center><h3>Book Details</h3></center>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Book_Name</th>
      <th scope="col">Book_Cover</th>
      <th scope="col">Author</th>
      <th scope="col">Edition</th>
      <th scope="col">Price</th>
      <th scope="col">in_stock</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
   {% for book in books %}
    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.book_name }}</td>
      <td><img  src="{{ book.image.url }}" alt="" width="200px" height="200px"></td>
      <td>{{ book.author }}</td>
      <td>{{ book.edition }}</td>
      <td>RS {{ book.price }}</td>
      <td>{{ book.in_stock }}</td>
        <td><a class="btn btn-primary" href="/buy/{{book.id }}">Buy</a> {% if user.is_superuser %}<a  class="btn btn-danger" href="/delete/{{ book.id }}">DELETE</a> {% endif %} </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>

{% endblock body %}
